hr-system-sys-api/src/main/mule/hr-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="hr-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <apikit:config name="hr-sys-api-config" api="resource::5f38f098-66cc-44c4-b949-1a5e6b221f6d:hr-sys-api:1.0.2:raml:zip:hr-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="hr-sys-api-main">
        <http:listener config-ref="hr-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hr-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hr-sys-api-console">
        <http:listener config-ref="hr-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hr-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\staff\(staffId):application\json:hr-sys-api-config">
        <set-variable value="#[attributes.uriParams.'staffId']" doc:name="Staff ID" doc:id="843230a2-e18b-460a-aa66-b9db0171e141" variableName="id"/>
		<flow-ref doc:name="Flow Reference" doc:id="58232c80-c7fe-404b-8b3a-19f5b82c0a42" name="update-staff-details-with-id"/>
		<ee:transform doc:name="Transform Message" doc:id="52f3e245-c3ca-4ac4-b990-0f6df0c39b38">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Staff member Sucessfully updated"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="delete:\staff\(staffId):hr-sys-api-config">
        <set-variable value="#[attributes.uriParams.'staffId']" doc:name="Staff ID" doc:id="bb01a63f-667a-4553-be47-e1c3a6dea08f" variableName="id" />
		<flow-ref doc:name="Flow Reference" doc:id="33f6d9b3-dbcc-44a1-9fe1-fa0073e7a5a9" name="delete-staff-details-with-id"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Staff member Sucessfully offboarded"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\staff:hr-sys-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="fe79b755-b617-4648-a5c5-d4ee6699f75a" name="get-staff-details" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="globalError_Handler"/>
    </flow>
    <flow name="post:\staff:application\json:hr-sys-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="5ee71417-e1fb-41b3-bfcd-7ec5d02df892" name="create-staff" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\staff\(staffId):hr-sys-api-config">
        <set-variable value="#[attributes.uriParams.'staffId']" doc:name="Staff ID" doc:id="9bf088da-5855-4f30-9c9d-7cbfb025aea7" variableName="id" />
		<flow-ref doc:name="Flow Reference" doc:id="8d44ad97-831a-4c60-848f-8f583cc226f8" name="get-staff-detail-with-id" />
		<error-handler ref="globalError_Handler" />
    </flow>
</mule>
